.sp-tab-header {
  border-bottom: 1px solid lightgray;
  padding: 5px;
}
.sp-toggle-online {
  float: left;
  display: none;
  /* margin-left: 10px; */
}
.sp-toggle-page-site-chat {
  /* margin-left: 10px; */
  /* float: right; */
  /* margin-right: 5px; */
}
