.ant-tabs-bar {
  color: white;
  background: rgba(0,0,0,.75);
}


.card-container > .ant-tabs-card > .ant-tabs-content > .ant-tabs-tabpane {
  background: #fff;
  /* padding: 16px; */
}
.card-container > .ant-tabs-card > .ant-tabs-content {
  margin-top: -5px;
}
.card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
  border-color: transparent;
  border-radius: 0;
  background: transparent;
}

.card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
  border-color: #fff;
  background: #fff;
}

.ant-tabs-nav .ant-tabs-tab .anticon {
  margin: 0;
}