body {
  /* background: #eceff1; */
}
body ::-webkit-scrollbar {
  width: 7px;
}

/* Track */
body ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px lightgray;
}

/* Handle */
body ::-webkit-scrollbar-thumb {
  background: #ccc;
  /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); */
}
body ::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, 0.05);
}

.ant-tabs-bar {
  color: white;
  background: rgba(0, 0, 0, 0.75);
  margin: 0px;
}

.ant-tabs-nav-container {
  font-size: 18px;
}
.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-nav-container {
  height: 35px;
}
.anticon {
  vertical-align: 0;
}

.card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
  border-color: transparent;
  border-radius: 0;
  background: transparent;
}

.card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
  /* border-color: #fff; */
  background: #fff;
}

.ant-tabs-nav .ant-tabs-tab .anticon {
  margin: 0;
}

.ant-avatar > img {
  object-fit: cover;
}
