.sp-chat-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
}
.sp-chat-bottom .ant-input-group-addon {
  border-radius: unset;
}
.sp-chat-bottom .ant-input-group-addon:last-child {
  border-right: 0;
}
.sp-chat-bottom .ant-input-group-addon:first-child {
  border-left: 0;
}
