.sp-toggle-online {
  float: left;
  display: none;
}
.sp-toggle-page-site-chat {
  z-index: 0;
  position: relative;
}

.sp-online-user {
  display: inline-block;
  margin: 5px;
  cursor: pointer;
}
.sp-online-user-username {
  font-size: 10px;
  max-width: 45px;
  /* text-overflow: ellipsis; */
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
}
