.sp-tab-header {
  border-bottom: 1px solid lightgray;
  padding: 5px;
  /* text-align: center; */
}
.sp-toggle-online {
  float: left;
  display: none;
}
.sp-toggle-page-site-chat {
}

.sp-online-user {
  display: inline-block;
  margin: 5px;
}
.sp-online-user-username {
  font-size: small;
  max-width: 50px;
  text-overflow: ellipsis;
  overflow: hidden;
}
